  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="laconitech" />
    <meta property="og:locale" content="en_GB" />
    <meta name="description" content="custom hardware for keyboards and other peripherals" />
    <meta property="og:description" content="laconicos technologies" />
    <!-- <link rel="canonical" href="" />
    <meta property="og:url" content="" /> -->
    <meta property="og:site_name" content="laconitech" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/laconitech/assets/main.css">
  </head>
